<h1>Editing Table Customer Product</h1>

<%= render 'form', table_customer_product: @table_customer_product %>

<%= link_to 'Show', @table_customer_product %> |
<%= link_to 'Back', table_customer_products_path %>
