<h1>Editing Table Supplier Product</h1>

<%= render 'form', table_supplier_product: @table_supplier_product %>

<%= link_to 'Show', @table_supplier_product %> |
<%= link_to 'Back', table_supplier_products_path %>
